<main class="main-tag">
  <section class="section-tag" id="hero">
    <div>
      <h1 class="h1-tag">Become an instructor now!</h1>
      <p class="p-tag">Choose a plan that suits you</p>
    </div>
  </section>
  <section class="section-tag" id="pricing-table">
    <div class="pricing-container">
      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>
              <div>
                Select your plan
                <div class="svg-wrapper">
                  <svg viewBox="0 0 24 24">
                    <path
                        d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 17v-4h-8v-2h8v-4l6 5-6 5z"
                    />
                  </svg>
                </div>
              </div>
            </th>
            <th>
              <div class="heading">Starter</div>
              <div class="info">
                <div class="amount">$35 <span class="span-tag">month</span></div>
                <div class="billing-msg">billed annually</div>
                <button type="button">Get started</button>
              </div>
            </th>
            <th>
              <div class="heading">Essential</div>
              <div class="info">
                <div class="popular">Popular</div>
                <div class="amount">$69 <span class="span-tag">month</span></div>
                <div class="billing-msg">billed annually</div>
                <button type="button">Get started</button>
              </div>
            </th>
            <th>
              <div class="heading">Professional</div>
              <div class="info">
                <div class="amount">$1.99 <span class="span-tag">student</span></div>
                <div class="billing-msg">billed annually</div>
                <button type="button">Get started</button>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="privilege">Commission on course sales</td>
            <td>
              <svg class="starter" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
              <p class="p-tag">70%</p>
            </td>
            <td>
              <svg class="essential" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
              <p class="p-tag">75%</p>
            </td>
            <td>
              <svg class="professional" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
              <p class="p-tag">85%</p>
            </td>
          </tr>
          <tr>
            <td class="privilege">Course Uploads</td>
            <td>
              <svg class="starter" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
              <p class="p-tag">10 courses</p>
            </td>
            <td>
              <svg class="essential" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
              <p class="p-tag">100 courses</p>
            </td>
            <td>
              <svg class="professional" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
              <p class="p-tag">Unlimited</p>
            </td>
          </tr>
          <tr>
            <td class="privilege">Profile customization</td>
            <td>
              <svg class="starter" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
            </td>
            <td>
              <svg class="essential" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
            </td>
            <td>
              <svg class="professional" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <td class="privilege">Analytics Access</td>
            <td>
              <svg class="not-included" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"
                />
              </svg>
            </td>
            <td>
              <svg class="essential" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
            </td>
            <td>
              <svg class="professional" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <td class="privilege">Auto-grading</td>
            <td>
              <svg class="not-included" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"
                />
              </svg>
            </td>
            <td>
              <svg class="essential" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
            </td>
            <td>
              <svg class="professional" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <td class="privilege">Integrated email marketing</td>
            <td>
              <svg class="not-included" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"
                />
              </svg>
            </td>
            <td>
              <svg class="not-included" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"
                />
              </svg>
            </td>
            <td>
              <svg class="professional" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <td class="privilege">Extra boost on homepage</td>
            <td>
              <svg class="not-included" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"
                />
              </svg>
            </td>
            <td>
              <svg class="not-included" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"
                />
              </svg>
            </td>
            <td>
              <svg class="professional" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"
                />
              </svg>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
