* {
  box-sizing: border-box;
}

:root {
  --font-family_1: Poppins, sans-serif;
  --icon-font: ionicons;

  --background-color_0: #f4f4f4;
  --background-color_1: #ffffff;
  --background-color_2: #1f1e1dff;
  --background-color_3: #1f1f1fff;

  --heading-color: #2d2f31;
  --sub-heading-color: #6a6f73;
  --title-heading-color: #2d2f31;

  --color_1: #ffffff;
  --color_3: #6a6f73;
  --color_4: #2d2f31;
  --error-color: #ff0000;

  --border-color: #ddd;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: Poppins, sans-serif;
}
