@import "../variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
  scroll-behavior: smooth;
}

body {
  font-family: $font-family_1;
  font-size: 1.6rem;
  line-height: 1.4;
  background: $background-color_1;
}

a {
  text-decoration: none;
}

// HEADING
.learner-view-on-trial {
  .learner-view-on-trial__header {
    padding: 50px 0 0 0;
    background: $background-color_4;

    .learner-view-on-trial__heading {
      font-size: 4rem;
      font-weight: 700;
      color: $color_1;
    }

    .learner-view-on-trial__navbar-container {
      .learner-view-on-trial__navbar {
        display: flex;
        margin: 30px 0 0 0;
        padding: 0;
        gap: 40px;
        list-style: none;

        .learner-view-on-trial__item {
          .learner-view-on-trial__item-link {
            display: inline-block;
            padding-bottom: 5px;
            font-size: 1.6rem;
            font-weight: 700;
            color: #d1d7db;
            text-decoration: none;
            cursor: pointer;
          }

          &:hover {
            .learner-view-on-trial__item-link {
              color: $color_1;
            }
          }

          &.active {
            border-bottom: 5px solid #f6f9fa;

            .learner-view-on-trial__item-link {
              color: $color_1;
            }
          }
        }
      }
    }
  }
}

// HORIZONTAL COURSE CARDS
.horizontal-displaying-courses-card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid $border-color;
  background-color: transparent;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  }
}

.horizontal-displaying-courses-card-thumb {
  width: 130px;
  //min-width: 100px;
  align-self: flex-start;
  margin-right: 20px;

  .image {
    width: 100%;
    min-height: 80px;
    object-fit: cover;
  }
}

.horizontal-displaying-courses-card-content {
  flex: 1;
  display: flex;
  align-items: center;
}

.horizontal-displaying-courses-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .title {
    font-size: 1.8rem;
    font-weight: 700;
    color: $color_4;
  }

  .category {
    display: inline-block;
    width: fit-content;
    margin: 10px 0;
    padding: 6px;
    background-color: #eceb98;
    font-size: 1.4rem;
    font-weight: 700;
    color: $color_4;
  }

  .details {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 5px;
    font-size: 1.6rem;
    color: $color_4;

    .mr-3 {
      display: inline-block;
      margin-right: 3px;
    }
  }
}

.learner-view-on-trial {
  .horizontal-displaying-courses-card-price {
    margin-right: 50px;
    font-size: 2rem;
    font-weight: 600;
    color: $color_4;
  }

  .horizontal-displaying-courses-card-action {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btn {
      min-width: 120px;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

//  POP UP DIALOG MODAL
.pop-up-notification-dialog__modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.1s;

  .pop-up-notification-dialog__modal-content {
    position: absolute;
    top: 20%;
    left: 50%;
    max-width: 400px;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 20px;
    transform: translateX(-50%);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.21, 0.99);
  }

  &.active {
    .pop-up-notification-dialog__modal-content {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
      animation-name: slideIn;
    }
  }

  &.slideOut {
    .pop-up-notification-dialog__modal-content {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1);
      animation-name: slideOut;
    }
  }

  .pop-up-notification-dialog__modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 10px;
    border-bottom: 1px solid #4e4b51;

    .pop-up-notification-dialog__modal-heading {
      margin: 0;
      font-size: 2rem;
      font-weight: 600;
      color: #4d4b4b;
    }
  }

  .pop-up-notification-dialog__modal-message p {
    margin: 10px 0 0 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: #2d2f31;
  }

  .pop-up-notification-dialog__modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;

    .pop-up-notification-dialog__cancel-button,
    .pop-up-notification-dialog__delete-button {
      border: none;
      border-radius: 5px;
      padding: 8px 16px;
      font-size: 1.4rem;
      font-weight: 600;
    }

    .pop-up-notification-dialog__cancel-button {
      min-width: 90px;
      width: 100px;
      color: #ffffff;
      background: gray;
      margin-left: 20px;

      &:hover {
        opacity: 0.8;
        box-shadow: 0 4px 10px rgba(50, 50, 50, 0.4);
      }
    }

    .pop-up-notification-dialog__delete-button {
      min-width: 90px;
      width: 100px;
      color: #ffffff;
      background: #ff0000;

      &:hover {
        opacity: 0.8;
        box-shadow: 0 4px 10px rgba(255, 0, 0, 0.3);
      }
    }
  }
}

@keyframes slideIn {
  from {
    top: 3%;
    opacity: 0;
  }
  to {
    top: 20%;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    top: 20%;
    opacity: 1;
  }
  to {
    top: 5%;
    opacity: 0;
  }
}

@media (min-width: 770px) and (max-width: 1000px) {
  .horizontal-displaying-courses-card-content {
    flex-direction: column;
    align-items: flex-start;

    .horizontal-displaying-courses-card-info {
      .category {
        margin: 5px 0 10px;
      }

      .details {
        gap: 15px;
      }
    }

    .horizontal-displaying-courses-card-price {
      margin-top: 10px;
    }

    .horizontal-displaying-courses-card-action {
      margin-top: 10px;
      flex-direction: row;

      .btn {
        min-width: 150px;
      }
    }
  }
}

@media (max-width: 769px) {
  .learner-view-on-trial {
    .learner-view-on-trial__header {
      .learner-view-on-trial__heading,
      .learner-view-on-trial__navbar-container {
        margin-left: 20px;
      }
    }
  }
  .horizontal-displaying-courses-card {
    flex-direction: column;
    align-items: flex-start;

    .horizontal-displaying-courses-card-content {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;

      .horizontal-displaying-courses-card-info {
        align-items: flex-start;

        .category {
          margin: 5px 0 10px;
        }

        .details {
          gap: 15px;

          .mr-3 {
            margin-right: 1px;
          }
        }
      }

      .horizontal-displaying-courses-card-price {
        margin-top: 10px;
      }

      .horizontal-displaying-courses-card-action {
        width: 100%;
        margin-top: 10px;
        flex-direction: row;
        gap: 10px;

        .btn {
          min-width: 150px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .horizontal-displaying-courses-card {
    padding: 10px 0;
  }
}
