@import "../variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family_1;
  font-size: 1.6rem;
  line-height: 1.4;
  background: $color-black-00;
}

a {
  text-decoration: none; /* Remove underlines from all links */
  color: inherit; /* Inherit color from parent element */
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.instructor-profile {
  margin-top: 40px;

  .instructor-profile__details-container {
    display: flex;
    gap: 10px;
  }
}

.instructor-profile__details-content {
  width: 70%;
  margin-bottom: 20px;

  .heading {
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-black-55;
  }

  .name {
    max-width: calc(100% - 10px);
    margin-bottom: 6px;
    font-size: 4rem;
    font-weight: 700;
    color: $color-black-80;
  }

  .desc {
    max-width: calc(100% - 10px);
    margin: 6px 0 15px 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-black-80;
  }

  .category {
    display: inline-block;
    width: fit-content;
    margin: 10px 8px 10px 0;
    padding: 6px;
    background-color: $color-yellow-10;
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-black-80;
    text-transform: uppercase;
  }

  .stats-row {
    display: flex;
    gap: 40px;
    padding: 15px 0;

    .stats-title {
      margin-bottom: 5px;
      font-size: 1.4rem;
      font-weight: 700;
      color: $color-black-55;
    }

    .stats-number strong {
      font-size: 2.4rem;
    }
  }

  .instructor-bio {
    .title {
      margin-top: 10px;
      margin-bottom: 16px;
      font-size: 1.9rem;
      font-weight: 700;
      color: $color-black-80;
    }

    .bio,
    .bio a {
      width: 100%;
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-black-80;
      line-height: 1.4;
    }
  }
}

.instructor-profile__details-display {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid $color-black-80;
    margin-bottom: 30px;
  }

  .profile-action {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-action-cta {
      .action-btn {
        max-width: 100%;
        min-width: 180px;
        height: 48px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        border: 1px solid $color-black-80;
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
        color: $color-black-80;
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        transition: 0.1s;

        &:hover {
          min-width: 200px;
          height: 52px;
          opacity: 0.6;
        }
      }
    }
  }
}

.instructor-profile__instructor-courses {
  .instructor-profile__courses-container {
    width: 70%;
  }

  .section-heading {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.9rem;
    font-weight: 700;
  }

  .notification,
  .notification-link {
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-black-80;
    //text-decoration: none;
  }

  // Ensure consistency for course card images
  .box-displaying-course-card {
    margin-bottom: 30px;
    background: $color-black-00;
    transition: box-shadow 0.3s ease;
    border-bottom: 2px solid $color-black-70;

    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 20px rgba(0, 123, 123, 0.1);
      background-color: $color-black-10;
    }

    .box-displaying-course-card-thumb {
      width: 100%;
      height: 150px; /* Adjust height for consistency */
      object-fit: cover;
    }

    .box-displaying-course-card-category {
      position: relative;
      width: fit-content;
      padding: 4px 6px;
      background-color: $color-yellow-10;
      font-size: 1.1rem;
      font-weight: 600;
      color: $color-black-80;
      text-transform: uppercase;
    }

    .box-displaying-course-card-title {
      margin-bottom: 5px;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-black-80;
    }

    .box-displaying-course-card-createdBy {
      --line-clamp: 1;
      margin: 0;
      font-size: 1.3rem;
      font-weight: 300;
    }

    .box-displaying-course-card-price {
      margin: 10px 0;
      font-size: 1.6rem;
      font-weight: 900;
      color: $color-black-80;
    }

    .box-displaying-course-card-time {
      margin: 0;
      padding-bottom: 5px;
      font-size: 1.1rem;
      color: $color-black-50;
    }
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .instructor-profile {
    .instructor-profile__details-container {
      flex-direction: column-reverse;

      .instructor-profile__details-content,
      .instructor-profile__details-display {
        width: 100%;
      }

      .instructor-profile__details-display {
        align-items: flex-start;
      }
    }
  }

  .instructor-profile__details-display {
    .profile-action {
      flex-direction: row;
      gap: 5px;

      .profile-action-cta .action-btn {
        min-width: 150px;
        height: 45px;
        font-size: 1.4rem;
        font-weight: 700;

        &:hover {
          min-width: 170px;
          height: 48px;
        }
      }
    }
  }

  .instructor-profile__instructor-courses {
    .instructor-profile__courses-container {
      width: 100%;
    }
  }
}

@media (max-width: 479px) {
  .instructor-profile__details-display {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;

    .profile-action {
      width: 100%;
      justify-content: space-between;
      gap: 5px;

      .profile-action-cta {
        width: 33%;

        .action-btn {
          width: 100%;
          min-width: 50px;
          height: 45px;
          font-size: 1.4rem;
          font-weight: 700;
          padding: 5px;

          &:hover {
            min-width: 170px;
            height: 48px;
          }
        }
      }
    }
  }
}
