<main class="course-profile bootstrap-v5">
  <section class="course-profile__course-details-wrapper">
    <div class="course-profile__course-details">
      <div class="container">
        <div class="course-profile__details-container">
          <div class="course-profile__details-content">
            <div class="course-profile__heading">COURSE DETAILS</div>
            <h1 class="course-profile__title">100 Days of Code: The Complete Python Pro Bootcamp</h1>
            <div class="course-profile__box-type">
              <div class="course-profile__category-container">
                <span class="course-profile__category">Teamwork and Leadership</span>
                <span class="course-profile__category">Knots and Lashings</span>
                <span class="course-profile__category">STEM</span>
                <span class="course-profile__category">Wilderness Survival</span>
              </div>
              <div class="course-profile__level">Intermediate</div>
            </div>
            <div class="course-profile__createdBy">
              Created by Dr.
              <a class="course-profile__createdBy-link" href="#">
                Tung Nguyen
              </a>
            </div>
          </div>

          <div class="course-profile__details-display">
            <img
                alt="Course Image"
                class="course-profile__course-thumb"
                src="/assets/thumbs/defaultThumb.png"
            />
            <div class="course-profile__stats-row">
              <div class="course-profile__stats-item">
                <i class="fa fa-star course-profile__stats-icon" style="color: #f59c09"></i>
                <span class="course-profile__stats-number">4.7</span>
                <span class="course-profile__stats-title">RATING</span>
              </div>

              <div class="course-profile__stats-item">
                <i class="fa fa-user course-profile__stats-icon"></i>
                <span class="course-profile__stats-number">1,375,145</span>
                <span class="course-profile__stats-title">STUDENTS</span>
              </div>

              <div class="course-profile__stats-item">
                <i class="fa fa-heart course-profile__stats-icon"></i>
                <span class="course-profile__stats-number">671</span>
                <span class="course-profile__stats-title">WISHLIST</span>
              </div>
            </div>
            <div class="course-profile__course-price">$114.00</div>

            <div class="course-profile__course-action">
              <!-- FOR STUDENT-->
              <div class="course-profile__action-cta">
                <a class="action-btn" href="#">2-Day Free Trial</a>
              </div>

              <!-- BEFORE ADD TO CART -->
              <div class="course-profile__action-cta">
                <a class="action-btn" href="#">Add to cart</a>
              </div>
              <!-- AFTER CLICK ADD TO CART -->
              <div class="course-profile__action-cta">
                <a class="action-btn" href="#">Go to cart</a>
              </div>

              <div class="course-profile__action-cta">
                <a class="action-btn" href="#">Add to wishlist</a>
              </div>

              <!--FOR INSTRUCTOR -->
              <!--<div class="course-profile__action-cta">-->
              <!--  <a class="action-btn" href="#">Edit Course</a>-->
              <!--</div>-->

              <!--<div class="course-profile__action-cta">-->
              <!--  <a class="action-btn" href="#">View All Courses</a>-->
              <!--</div>-->
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="course-profile__course-description-wrapper">
    <div class="container">
      <div class="course-profile__course-description">
        <h2 class="title">Course Description</h2>
        <p class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus consequatur consequuntur debitis dolorem doloribus
          eaque enim esse fugiat, magnam quibusdam quis quod repudiandae
          velit! A ad dolore, fugiat ipsum itaque laudantium maiores
          nesciunt, obcaecati quae quaerat quis repellat temporibus.
          Cumque dignissimos ipsa labore maxime, molestiae nobis non
          obcaecati officia velit?
        </p>
      </div>
    </div>
  </section>

  <section class="course-profile__more-courses">
    <div class="container">
      <div class="course-profile__more-courses-content">
        <h3 class="course-profile__more-courses-heading">Discover More Courses</h3>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                  alt="Course 1"
                  class="box-displaying-course-card-thumb"
                  src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork & Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr. Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                  alt="Course 1"
                  class="box-displaying-course-card-thumb"
                  src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork & Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr. Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                  alt="Course 1"
                  class="box-displaying-course-card-thumb"
                  src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork & Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr. Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                  alt="Course 1"
                  class="box-displaying-course-card-thumb"
                  src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork & Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr. Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                  alt="Course 1"
                  class="box-displaying-course-card-thumb"
                  src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork & Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr. Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>