<main class="course-profile bootstrap-v5">
  <section class="course-profile__course-details-wrapper">
    <div class="course-profile__course-details">
      <div class="container">
        <div class="course-profile__details-container">
          <div class="course-profile__details-content">
            <div class="course-profile__heading">COURSE DETAILS</div>
            <h1 class="course-profile__title">100 Days of Code: The Complete Python Pro Bootcamp</h1>
            <div class="course-profile__box-type">
              <div class="course-profile__category">Teamwork and Leadership</div>
              <div class="course-profile__level">Intermediate</div>
            </div>
            <div class="course-profile__createdBy">
              Created by Dr.
              <a class="course-profile__createdBy-link" href="">
                Tung Nguyen
              </a>
            </div>
          </div>

          <div class="course-profile__details-display">
            <img
                alt="Course Image"
                class="course-profile__course-thumb"
                src="/assets/thumbs/defaultThumb.png"
            />
            <div class="course-profile__stats-row">
              <div class="course-profile__stats-item">
                <i class="fa fa-star course-profile__stats-icon" style="color: #f59c09"></i>
                <span class="course-profile__stats-number">4.7</span>
                <span class="course-profile__stats-title">RATING</span>
              </div>

              <div class="course-profile__stats-item">
                <i class="fa fa-user course-profile__stats-icon"></i>
                <span class="course-profile__stats-number">1,375,145</span>
                <span class="course-profile__stats-title">STUDENTS</span>
              </div>

              <div class="course-profile__stats-item">
                <i class="fa fa-heart course-profile__stats-icon"></i>
                <span class="course-profile__stats-number">671</span>
                <span class="course-profile__stats-title">WISHLIST</span>
              </div>
            </div>
            <div class="course-profile__course-price"><i class="fa fa-dollar"></i> 114.00</div>

            <div class="course-profile__course-action">
              <!-- FOR STUDENT-->
              <div class="course-profile__action-cta">
                <a class="action-btn" href="#">2-Day Free Trial</a>
              </div>

              <!-- BEFORE ADD TO CART -->
              <div class="course-profile__action-cta">
                <a class="action-btn" href="#">Add to cart</a>
              </div>
              <!-- AFTER CLICK ADD TO CART -->
              <div class="course-profile__action-cta">
                <a class="action-btn" href="#">Go to cart</a>
              </div>

              <div class="course-profile__action-cta">
                <a class="action-btn" href="#">Add to wishlist</a>
              </div>

              <!--FOR INSTRUCTOR -->
              <!--<div class="course-profile__action-cta">-->
              <!--  <a class="action-btn" href="#">Edit Course</a>-->
              <!--</div>-->

              <!--<div class="course-profile__action-cta">-->
              <!--  <a class="action-btn" href="#">View All Courses</a>-->
              <!--</div>-->
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="course-profile__course-description-wrapper">
    <div class="container">
      <div class="course-profile__course-description">
        <h2 class="title">Course Description</h2>
        <p class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus consequatur consequuntur debitis dolorem doloribus
          eaque enim esse fugiat, magnam quibusdam quis quod repudiandae
          velit! A ad dolore, fugiat ipsum itaque laudantium maiores
          nesciunt, obcaecati quae quaerat quis repellat temporibus.
          Cumque dignissimos ipsa labore maxime, molestiae nobis non
          obcaecati officia velit?
        </p>
      </div>
    </div>
  </section>

  <section class="course-profile__more-courses">
    <div class="container">
      <div class="course-profile__more-courses-content">
        <h3 class="course-profile__more-courses-heading">Discover More Courses</h3>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 1"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 2"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 2"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 2"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 2"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 2"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>