{{!-- <footer class="footer-container">
    <section class="footer">
        <div class="footer-box">
            <h2>ScoutSkillz</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, facere.</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-tiktok'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Categories</h3>
            <li><a href="#">Wilderness Survival</a></li>
            <li><a href="#">First Aid</a></li>
            <li><a href="#">Knots and Lashings</a></li>
            <li><a href="#">Personal Management</a></li>
            <li><a href="#">STEM</a></li>
            <li><a href="#">Teamwork</a></li>
        </div>
        <div class="footer-box">
            <h3>Links</h3>
            <li><a href="#">Copyright</a></li>
            <li><a href="#">Terms of Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bxs-map'></i>720 Nguyen Van Linh, HCMC, Vietnam</span>
                <span><i class='bx bxs-phone'></i>(+84) 123 4567</span>
                <span><i class='bx bxs-envelope'></i>scoutskillz@rmit.edu.vn</span>
            </div>
        </div>
    </section>
    <!-- Copyright -->
    <div class="copyright">
        <p>&#169; 2024 - RMIT University. Designed by Group 7. All Right Reserved.</p>
    </div>
</footer> --}}