<form action="/user/reset/{{token}}" method="POST">
  <h1>Reset Password</h1>
  <div class="container">
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div class="container">
    <label for="confirmPassword">Confirm New Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required />
  </div>
  <button type="submit">Reset Password</button>
</form>
