<main class="login-page">
  <div class="container">
    <div class="image-section">
      <img
          alt="Login"
          class="login-image"
          src="/assets/img/tent.png"
      />
    </div>

    <div class="form-section">
      <h2 class="signin-form-heading">SIGN IN</h2>

      <form id="loginForm" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
              id="email"
              name="email"
              onblur="validateEmail()"
              type="text"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
              id="password"
              name="password"
              onblur="validatePassword()"
              type="password"
          />
        </div>

        <div class="form-group">
          <button type="submit">
            <strong>LOG IN</strong>
          </button>
        </div>

        <div class="extension-group">
          <div class="form-group extension-link">
            <a href="#">Forgot Password</a>
          </div>
        </div>

        <div class="form-group signup-link">
          <p>Don't have an account? <a href="/user/sign-up">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>
</main>

<script>
  // Form submission
  document.getElementById("loginForm")
      .addEventListener("submit", function (e) {
        let isSubmittable = validateEmail() && validatePassword();

        if (isSubmittable) {
          const emailValue = document.querySelector("#email").value;
          if (emailValue) {
            const encodedEmail = encodeURIComponent(emailValue);
            this.action = `/user/${encodedEmail}/auth`;
          }
          this.submit();
        } else {
          e.preventDefault();
        }
      });

  // Email Validations
  function validateEmail() {
    const email = document.getElementById("email");
    const pattern = /^\w+('-'?\w+)*@\w+('-'?\w+)*(\.\w{2,3})+$/;

    if (email.value === "admin") {
      clearError(email);
      return true;
    } else if (!pattern.test(email.value)) {
      showError(email, "Please enter a valid email address");
      return false;
    } else  {
      clearError(email);
      return true;
    }
  }

  // At least 3 chars long
  function validatePassword() {
    const password = document.getElementById("password");
    if (password.value.length < 3) {
      showError(password, "Password must be at least 3 characters long");
      return false;
    } else {
      clearError(password);
      return true;
    }
  }

  // Error Message Display
  function showError(input, message) {
    const formGroup = input.closest(".form-group");
    let errorMessage = formGroup.querySelector(".error-message");
    if (!errorMessage) {
      errorMessage = document.createElement("span");
      errorMessage.className = "error-message";
      formGroup.appendChild(errorMessage);
    }
    errorMessage.textContent = message;
    input.classList.add("error");
  }

  // Error Message Clear
  function clearError(input) {
    const formGroup = input.closest(".form-group");
    const errorMessage = formGroup.querySelector(".error-message");
    if (errorMessage) {
      errorMessage.remove();
    }
    input.classList.remove("error");
  }
</script>