<main class="instructor-profile bootstrap-v5">
  <section class="instructor-profile__profile-details">
    <div class="container">
      <div class="instructor-profile__details-container">
        <div class="instructor-profile__details-content">
          <div class="heading">INSTRUCTOR</div>
          <h1 class="name">Dr. Angela Yu, Teamwork and Leadership Instructor</h1>
          <!-- ONCE -->
          <p class="desc">Developer and Lead Instructor</p>

          <!-- MULTIPLE -->
          <p class="desc">Also, a Wilderness Survival, STEM, Knots and Lashing
            Instructor</p>

          <div class="stats-row">
            <div class="stats-item">
              <div class="stats-title">Total students</div>
              <p class="stats-number"><strong>2,859,029</strong></p>
            </div>

            <div class="stats-item">
              <div class="stats-title">Reviews</div>
              <p class="stats-number"><strong>872,118</strong></p>
            </div>
          </div>

          <div class="instructor-bio">
            <h2 class="title">About Me</h2>
            <p class="bio">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusamus consequatur consequuntur debitis dolorem doloribus eaque
              enim esse fugiat, magnam quibusdam quis quod repudiandae velit! A
              ad dolore, fugiat ipsum itaque laudantium maiores nesciunt,
              obcaecati quae quaerat quis repellat temporibus. Cumque
              dignissimos ipsa labore maxime, molestiae nobis non obcaecati
              officia velit?
            </p>
          </div>
        </div>
        <div class="instructor-profile__details-display">
          <img
            alt="Profile Image"
            class="avatar"
            src="/assets/uploads/1725651744233.png"
          />
          <div class="profile-action">
            <div class="profile-action-cta">
              <a class="action-btn" href="/instructor/edit-profile">Edit Profile</a>
            </div>

            <div class="profile-action-cta">
              <a class="action-btn" href="/instructor/add-course">Add Course</a>
            </div>

            <div class="profile-action-cta">
              <a class="action-btn" href="#">View Courses</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="instructor-profile__instructor-courses mt-5">
    <div class="container">
      <div class="instructor-profile__courses-container">
        <h3 class="section-heading">My Courses</h3>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                alt="Course 1"
                class="box-displaying-course-card-thumb"
                src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork &
                  Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr.
                Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                alt="Course 1"
                class="box-displaying-course-card-thumb"
                src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork &
                  Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr.
                Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                alt="Course 1"
                class="box-displaying-course-card-thumb"
                src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork &
                  Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr.
                Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                alt="Course 1"
                class="box-displaying-course-card-thumb"
                src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork &
                  Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr.
                Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                alt="Course 1"
                class="box-displaying-course-card-thumb"
                src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork &
                  Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr.
                Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="box-displaying-course-card">
              <img
                alt="Course 1"
                class="box-displaying-course-card-thumb"
                src="/assets/up-bc.jpg"
              />

              <div class="d-flex justify-content-between flex-column mt-3 mb-3">
                <div class="box-displaying-course-card-category">Teamwork &
                  Leadership</div>

                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <h4 class="box-displaying-course-card-title line-clamp">
                Making scrumptious meal in the woods A-Z™: Hand-On Hand-Off
              </h4>
              <p class="box-displaying-course-card-createdBy line-clamp">Dr.
                Angela Yu, Teamwork and Leadership Instructor</p>
              <p class="box-displaying-course-card-price">$57.00</p>
              <p class="box-displaying-course-card-time">Uploaded 13 hours ago</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>