<main class="instructor-profile bootstrap-v5">
  <section class="instructor-details">
    <div class="container">
      <div class="content-container">
        <div class="details-content">
          <div class="heading">INSTRUCTOR</div>
          <h1 class="name">Dr. Angela Yu, Developer and Lead Instructor</h1>
          <p class="desc">Developer and Lead Instructor</p>

          <div class="stats-row">
            <div class="stats-item">
              <div class="stats-title">Total students</div>
              <p class="stats-number"><strong>2,859,029</strong></p>
            </div>

            <div class="stats-item">
              <div class="stats-title">Reviews</div>
              <p class="stats-number"><strong>872,118</strong></p>
            </div>
          </div>

          <div class="instructor-bio">
            <h2 class="title">About Me</h2>
            <p class="bio">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusamus consequatur consequuntur debitis dolorem doloribus
              eaque enim esse fugiat, magnam quibusdam quis quod repudiandae
              velit! A ad dolore, fugiat ipsum itaque laudantium maiores
              nesciunt, obcaecati quae quaerat quis repellat temporibus.
              Cumque dignissimos ipsa labore maxime, molestiae nobis non
              obcaecati officia velit?
            </p>
          </div>
        </div>
        <div class="details-display">
          <img
              alt="Profile Image"
              class="avatar"
              src="/assets/uploads/1725651744233.png"
          />
          <div class="instructor-action">
            <div class="profile-action-cta">
              <a class="action-btn" href="#">Edit Profile</a>
            </div>

            <div class="profile-action-cta">
              <a class="action-btn" href="#">View Courses</a>
            </div>

            <div class="profile-action-cta">
              <a class="action-btn" href="#">Add Course</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="instructor-courses mt-5">
    <div class="container">
      <div class="courses-content">
        <h3 class="section-heading">My Courses</h3>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 1"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 2"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 2"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 2"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 2"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="course-card">
              <p>
                <img
                    alt="Course 2"
                    class="img-fluid"
                    src="/assets/up-bc.jpg"
                />
              </p>
              <div class="d-flex justify-content-between mt-3">
                <div class="course-category">COOKING</div>
                <!--<div>-->
                <!--  <button class="btn btn-outline-danger btn-sm">-->
                <!--    <i class="fa fa-heart"></i>-->
                <!--  </button>-->
                <!--  <button class="btn btn-outline-primary btn-sm">-->
                <!--    <i class="fa fa-shopping-cart"></i>-->
                <!--  </button>-->
                <!--</div>-->
              </div>
              <p class="course-title">
                Making scrumptious meal in the woods A-Z™: Hands-On
              </p>
              <p class="course-price underline">$57</p>
              <p class="course-time">Uploaded 13 hours ago</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>