<main class="instructor-view-courses bootstrap-v5">
  <div class="container">
    <div class="instructor-view-courses__header">
      <h1 class="instructor-view-courses__heading">View Courses</h1>
      <p class="instructor-view-courses__desc">View all your courses</p>
    </div>

    <div class="instructor-view-courses__courses-container">
      <div class="row">
        <div class="col-12">
          <div class="horizontal-displaying-courses-card d-flex">
            <div class="horizontal-displaying-courses-card-thumb">
              <img src="/assets/up-bc.jpg" class="image" alt="Course IMG">
            </div>
            <div class="horizontal-displaying-courses-card-content">
              <div class="horizontal-displaying-courses-card-info">
                <h2 class="title">Investing In Stocks The Complete Course!</h2>
                <span class="category">WILDERNESS SURVIVING</span>
                <div class="details">
                  <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                  <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                  <span><i class="mr-3 fa fa-heart"></i> 69</span>
                  <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                </div>
              </div>
              <span class="horizontal-displaying-courses-card-price">
              ₫1,599,000
            </span>
              <div class="horizontal-displaying-courses-card-action ml-3">
                <button class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="horizontal-displaying-courses-card d-flex">
            <div class="horizontal-displaying-courses-card-thumb">
              <img src="/assets/up-bc.jpg" class="image" alt="Course IMG">
            </div>
            <div class="horizontal-displaying-courses-card-content">
              <div class="horizontal-displaying-courses-card-info">
                <h2 class="title">Investing In Stocks The Complete Course!</h2>
                <span class="category">WILDERNESS SURVIVING</span>
                <div class="details">
                  <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                  <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                  <span><i class="mr-3 fa fa-heart"></i> 69</span>
                  <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                </div>
              </div>
              <span class="horizontal-displaying-courses-card-price">
              ₫1,599,000
            </span>
              <div class="horizontal-displaying-courses-card-action ml-3">
                <button class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="horizontal-displaying-courses-card d-flex">
            <div class="horizontal-displaying-courses-card-thumb">
              <img src="/assets/up-bc.jpg" class="image" alt="Course IMG">
            </div>
            <div class="horizontal-displaying-courses-card-content">
              <div class="horizontal-displaying-courses-card-info">
                <h2 class="title">Investing In Stocks The Complete Course!</h2>
                <span class="category">WILDERNESS SURVIVING</span>
                <div class="details">
                  <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                  <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                  <span><i class="mr-3 fa fa-heart"></i> 69</span>
                  <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                </div>
              </div>
              <span class="horizontal-displaying-courses-card-price">
              ₫1,599,000
            </span>
              <div class="horizontal-displaying-courses-card-action ml-3">
                <button class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="horizontal-displaying-courses-card d-flex">
            <div class="horizontal-displaying-courses-card-thumb">
              <img src="/assets/up-bc.jpg" class="image" alt="Course IMG">
            </div>
            <div class="horizontal-displaying-courses-card-content">
              <div class="horizontal-displaying-courses-card-info">
                <h2 class="title">Investing In Stocks The Complete Course!</h2>
                <span class="category">WILDERNESS SURVIVING</span>
                <div class="details">
                  <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                  <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                  <span><i class="mr-3 fa fa-heart"></i> 69</span>
                  <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                </div>
              </div>
              <span class="horizontal-displaying-courses-card-price">
              ₫1,599,000
            </span>
              <div class="horizontal-displaying-courses-card-action ml-3">
                <button class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="horizontal-displaying-courses-card d-flex">
            <div class="horizontal-displaying-courses-card-thumb">
              <img src="/assets/up-bc.jpg" class="image" alt="Course IMG">
            </div>
            <div class="horizontal-displaying-courses-card-content">
              <div class="horizontal-displaying-courses-card-info">
                <h2 class="title">Investing In Stocks The Complete Course!</h2>
                <span class="category">WILDERNESS SURVIVING</span>
                <div class="details">
                  <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                  <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                  <span><i class="mr-3 fa fa-heart"></i> 69</span>
                  <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                </div>
              </div>
              <span class="horizontal-displaying-courses-card-price">
              ₫1,599,000
            </span>
              <div class="horizontal-displaying-courses-card-action ml-3">
                <button class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>