<div class="content-container">
  <div class="content">
    <h1>Intellectual Property Privacy</h1>
    <h2>1. Introduction</h2>
    <p class="p-tag">At ScoutSkillz, we value and respect the intellectual property rights of our instructors, students, and third parties. We are committed to protecting these rights and ensuring that our platform remains a safe and legitimate space for learning and education. This Intellectual Property Privacy Policy outlines our approach to intellectual property on our platform, including the types of content protected, your rights, and our enforcement procedures.</p>

    <h2>2. Ownership of Content</h2>
    <p class="p-tag">All content available on the ScoutSkillz platform, including but not limited to courses, videos, quizzes, assignments, text, graphics, logos, and other materials ("Content"), is the intellectual property of ScoutSkillz or its instructors and is protected by copyright, trademark, and other intellectual property laws.

      <br>Instructors retain ownership of the Content they create and share on the platform. By uploading or posting Content on ScoutSkillz, instructors grant us a license to use, reproduce, distribute, display, and perform such Content on the platform.</p>

    <h2>3. Respecting Intellectual Property Rights</h2>
    <p class="p-tag">We expect all users of ScoutSkillz, including instructors and students, to respect the intellectual property rights of others. This means you may not use, copy, distribute, or create derivative works of any Content from the platform without permission, unless otherwise authorized under applicable law.</p>

    <h2>4. Reporting Intellectual Property Infringement</h2>
    <ul>
      <li class="li-tag">A description of the copyrighted work or other intellectual property that you claim has been infringed.</li>
      <li class="li-tag">A description of where the material that you claim is infringing is located on the platform.</li>
      <li class="li-tag">Your contact information, including your name, address, telephone number, and email address.</li>
      <li class="li-tag">A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.</li>
      <li class="li-tag">A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
      <li class="li-tag">Your electronic or physical signature.</li>
    </ul>

    <p class="p-tag">Upon receiving a notice of infringement, ScoutSkillz will take appropriate action, which may include removing the infringing Content or disabling access to it.</p>

    <h2>5. Counter-Notification</h2>
    <p class="p-tag">If you believe that your Content has been removed or disabled in error, you may submit a counter-notification to our designated Intellectual Property Agent. Your counter-notification should include:</p>
    <ul>
      <li class="li-tag">Your contact information, including your name, address, telephone number, and email address.</li>
      <li class="li-tag">A description of the Content that has been removed or disabled and the location at which the Content appeared before it was removed or disabled.</li>
      <li class="li-tag">A statement under penalty of perjury that you have a good faith belief that the Content was removed or disabled as a result of mistake or misidentification.</li>
      <li class="li-tag">Your electronic or physical signature.</li>
    </ul>

    <p class="p-tag">If a counter-notification is received, ScoutSkillz may reinstate the Content unless the original claimant files a court action against you seeking an order to restrain you from engaging in infringing activity. Please be aware that filing a false counter-notification may result in legal consequences.</p>

    <h2>6. Repeat Infringer Policy</h2>
    <p class="p-tag">ScoutSkillz has a policy of terminating, in appropriate circumstances and at our discretion, users who are deemed to be repeat infringers. We may also, at our discretion, limit access to the platform or terminate the accounts of any users who infringe the intellectual property rights of others, whether or not there is any repeat infringement.</p>

    <h2>7. Modifications to This Policy</h2>
    <p class="p-tag">We may update this Intellectual Property Privacy Policy from time to time to reflect changes to our practices or for other operational, legal, or regulatory reasons. Any changes will be posted on this page, and, where appropriate, notified to you by email.</p>

    <h2>8. Contact Information</h2>
    <p class="p-tag">If you have any questions about these Terms, please contact us at:</p>
    <ul>
      <li class="li-tag">Email: support@scoutskillz.com</li>
      <li class="li-tag">Address: <a style="color: black;"
          href="https://www.google.com/maps/place/%C4%90%E1%BA%A1i+h%E1%BB%8Dc+RMIT+Vi%E1%BB%87t+Nam+-+C%C6%A1+s%E1%BB%9F+Nam+S%C3%A0i+G%C3%B2n/@10.729461,106.6949091,17.85z/data=!4m15!1m8!3m7!1s0x31752fbc01f37b99:0x490249b928b81534!2zUE1IVitWUDgsIDcwMiDEkC4gTmd1eeG7hW4gVsSDbiBMaW5oLCBUw6JuIEjGsG5nLCBRdeG6rW4gNywgSOG7kyBDaMOtIE1pbmggNzAwMDAw!3b1!8m2!3d10.7296604!4d106.694324!16s%2Fg%2F11hd20tt1_!3m5!1s0x31752fbea5fe3db1:0xfae94aca5709003f!8m2!3d10.7291501!4d106.6958129!16s%2Fm%2F04g0808?entry=ttu">
        702 Nguyen Van Linh, D7, HCMC, Vietnam</a></li>
    </ul>
  </div>
</div>