<div class="content-container">
  <div class="content">
    <h1>Terms of Use</h1>
    <p class="p-tag">Welcome to ScoutSkillz, an online platform dedicated to providing educational content on scouting.
       These Terms of Use ("Terms") govern your access to and use of the ScoutSkillz website and services
       (collectively, the "Services"). By accessing or using the Services, you agree to comply with and be
       bound by these Terms. If you do not agree to these Terms, you may not use the Services.</p>

    <h2>1. Introduction</h2>
    <p class="p-tag">ScoutSkillz offers a variety of educational courses and resources related to scouting, including but
       not limited to, survival skills, leadership training, outdoor activities, and more. The content is
       provided by experienced instructors and is available to users who have registered for the
       Services.</p>

    <h2>2. Account Registration</h2>
    <p class="p-tag">To use certain features of the Services, you must register for an account. When you create an
       account, you agree to:</p>

    <ul>
      <li class="li-tag">Provide accurate, current, and complete information during the registration process.</li>
      <li class="li-tag">Maintain and promptly update your account information to keep it accurate, current, and
          complete.
      </li>
      <li class="li-tag">Maintain the security of your account by not sharing your password with others.</li>
      <li class="li-tag">Notify ScoutSkillz immediately of any unauthorized use of your account.</li>
      <li class="li-tag">Take responsibility for all activities that occur under your account.</li>
    </ul>


    <h2>3. Eligibility</h2>
    <p class="p-tag">You must be at least 13 years old to use the Services. If you are under 18, you may only use the
       Services under the supervision of a parent or legal guardian who agrees to be bound by these Terms.
       By using the Services, you represent and warrant that you meet these eligibility requirements.</p>

    <h2>4. Course Enrollment and Access</h2>
    <p class="p-tag">When you enroll in a course on ScoutSkillz, you receive a limited, non-exclusive, non-transferable
       license to access and view the course content through the Services for personal, non-commercial use.
       This license does not give you the right to resell the course content or to share your account with
       others.
      <br>ScoutSkillz reserves the right to revoke any license to access and use course content at any
       point in time if we decide or are obligated to disable access to the course due to legal or policy
       reasons.</p>

    <h2>5. Payment, Refunds, and Cancellations</h2>
    <h3 class="h3-tag">5.1. Payment</h3>
    <p class="p-tag">When you make a payment, you agree to use a valid payment method. Payments for courses or
       subscriptions are non-refundable except as required by law or as provided in these Terms.</p>

    <h3 class="h3-tag">5.2. Refunds</h3>
    <p class="p-tag">ScoutSkillz offers a 30-day refund policy for most courses. If you are not satisfied with a course,
       you may request a refund within 30 days of purchase. Refunds are not available for courses that have
       been fully consumed or if you have received a certificate of completion.</p>

    <h3 class="h3-tag">5.3. Cancellations</h3>
    <p class="p-tag">You may cancel your account or any subscriptions at any time. Upon cancellation, you will continue to
       have access to the Services until the end of your billing period, after which your access will be
       terminated.</p>

    <h2>6. Content and Behavior Rules</h2>
    <h3 class="h3-tag">6.1. User-Generated Content</h3>
    <p class="p-tag">ScoutSkillz may allow you to post, upload, publish, submit, or transmit content, such as comments,
       questions, reviews, and other types of information ("User Content"). By posting User Content, you
       grant ScoutSkillz a non-exclusive, worldwide, royalty-free, perpetual, irrevocable, and fully
       sublicensable right to use, reproduce, modify, adapt, publish, translate, distribute, and display
       such content.</p>

    <h3 class="h3-tag">6.2. Prohibited Conduct</h3>
    <p class="p-tag">When using the Services, you agree not to:</p>
    <ul>
      <li class="li-tag">Engage in any illegal or unauthorized activity.</li>
      <li class="li-tag">Post or share content that is defamatory, obscene, offensive, or violates any law or
          regulation.
      </li>
      <li class="li-tag">Disrupt or interfere with the security, operation, or functionality of the Services.</li>
      <li class="li-tag">Use the Services for commercial purposes without our written consent.</li>
      <li class="li-tag">Attempt to gain unauthorized access to any part of the Services or other accounts.</li>
    </ul>

    <h2>7. Intellectual Property Rights</h2>
    <h3 class="h3-tag">7.1. ScoutSkillz Content</h3>
    <p class="p-tag">All content provided through the Services, including but not limited to courses, videos, text,
       graphics, logos, and software, is the property of ScoutSkillz or its licensors and is protected by
       copyright, trademark, and other intellectual property laws. You may not copy, distribute, modify,
       create derivative works from, publicly display, or perform any content provided through the Services
       without prior written permission from ScoutSkillz.</p>

    <h3 class="h3-tag">7.2. Trademarks</h3>
    <p class="p-tag">The ScoutSkillz name, logo, and other related trademarks are the exclusive property of ScoutSkillz.
       You may not use any ScoutSkillz trademarks without our prior written consent.</p>

    <h2>8.Third-Party Links and Content</h2>
    <p class="p-tag">The Services may contain links to third-party websites or content that is not owned or controlled by
       ScoutSkillz. ScoutSkillz is not responsible for the availability, accuracy, or content of such
       third-party websites or content. Your use of third-party websites or content is at your own risk,
       and ScoutSkillz encourages you to read the terms and privacy policies of any third-party websites or
       content you access.</p>

    <h2>9. Termination</h2>
    <p class="p-tag">ScoutSkillz reserves the right to terminate or suspend your account and access to the Services at any
       time, with or without cause or notice. Upon termination, your license to access and use the Services
       will immediately cease. The provisions of these Terms that by their nature should survive
       termination shall survive termination, including but not limited to, intellectual property rights,
       disclaimers, indemnity, and limitations of liability.</p>

    <h2>10. Disclaimers and Limitation of Liability</h2>
    <h3 class="h3-tag">10.1. Disclaimers</h3>
    <p class="p-tag">The Services are provided "as is" and "as available" without warranties of any kind, either express
       or implied, including but not limited to implied warranties of merchantability, fitness for a
       particular purpose, non-infringement, and course of performance. ScoutSkillz does not guarantee that
       the Services will meet your requirements, be uninterrupted, timely, secure, or error-free.</p>

    <h3 class="h3-tag">10.2. Limitation of Liability</h3>
    <p class="p-tag">To the fullest extent permitted by law, ScoutSkillz and its affiliates, officers, directors,
       employees, agents, and licensors will not be liable for any indirect, incidental, special,
       consequential, or punitive damages, including but not limited to, loss of profits, data, use,
       goodwill, or other intangible losses, resulting from your access to or use of the Services./p>

    <h2>11. Indemnification</h2>
    <p class="p-tag">You agree to indemnify, defend, and hold harmless ScoutSkillz and its affiliates, officers,
       directors, employees, agents, and licensors from and against any and all claims, liabilities,
       damages, losses, and expenses, including but not limited to, reasonable attorneys' fees and costs,
       arising out of or in any way connected with your access to or use of the Services, your User
       Content, or your violation of these Terms.</p>

    <h2>12. Governing Law and Dispute Resolution</h2>
    <p class="p-tag">These Terms and your use of the Services shall be governed by and construed in accordance with the
       laws of Vietnam, without regard to its conflict of law principles. Any disputes arising
       out of or in connection with these Terms or the Services shall be resolved through binding
       arbitration in ehe, except that either party may seek injunctive or other equitable
       relief in a court of competent jurisdiction.</p>

    <h2>13. Changes to These Terms</h2>
    <p class="p-tag">ScoutSkillz reserves the right to modify or update these Terms at any time, in its sole discretion.
       If we make material changes to these Terms, we will notify you by email or through the Services.
       Your continued use of the Services after the effective date of any changes constitutes your
       acceptance of the new Terms.</p>

    <h2>14. Contact Information</h2>
    <p class="p-tag">If you have any questions about these Terms, please contact us at:</p>
    <ul>
      <li class="li-tag">Email: support@scoutskillz.com</li>
      <li class="li-tag">Address: <a style="color: black;"
                                     href="https://www.google.com/maps/place/%C4%90%E1%BA%A1i+h%E1%BB%8Dc+RMIT+Vi%E1%BB%87t+Nam+-+C%C6%A1+s%E1%BB%9F+Nam+S%C3%A0i+G%C3%B2n/@10.729461,106.6949091,17.85z/data=!4m15!1m8!3m7!1s0x31752fbc01f37b99:0x490249b928b81534!2zUE1IVitWUDgsIDcwMiDEkC4gTmd1eeG7hW4gVsSDbiBMaW5oLCBUw6JuIEjGsG5nLCBRdeG6rW4gNywgSOG7kyBDaMOtIE1pbmggNzAwMDAw!3b1!8m2!3d10.7296604!4d106.694324!16s%2Fg%2F11hd20tt1_!3m5!1s0x31752fbea5fe3db1:0xfae94aca5709003f!8m2!3d10.7291501!4d106.6958129!16s%2Fm%2F04g0808?entry=ttu">
        702 Nguyen Van Linh, D7, HCMC, Vietnam</a></li>
    </ul>
  </div>
</div>