<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Include additional styles passed as variables -->
    {{#each styles}}
        <link rel="stylesheet" href="/css/{{this}}" />
    {{/each}}
    <!-- Include global styles for navbar and footer -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{{title}}</title>
</head>

<body>
<!-- Include header partial (e.g., the navbar) -->
{{> header}}

<!-- Main content area -->
{{{body}}}

<!-- Include additional scripts passed as variables -->
{{#each scripts}}
    <script src="/javascript/{{this}}"></script>
{{/each}}

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
