<main class="learner-browse-courses bootstrap-v5">
  <div class="learner-browse-courses__header">
    <div class="container">
      <h1 class="learner-browse-courses__heading">All Courses</h1>
      <p class="learner-browse-courses__desc">Browse your courses with filter</p>
    </div>
  </div>

  <div class="container">
    <div class="learner-browse-courses__browse-main">
      <div class="learner-browse-courses__sidebar">
        <div class="sidebar-header">
          <i class="fa fa-filter icon-filter"></i>
          <h3 class="sidebar-heading">Filter</h3>
        </div>
        <div class="sidebar-section">
          <h4 class="sidebar-section-heading">Sort by Name</h4>
          <label>
            <input type="checkbox" />
            <svg
              class="icon-sort-az"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512"
            >
              <path
                d="M183.6 469.6C177.5 476.2 169 480 160 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L128 365.7 128 64c0-17.7 14.3-32 32-32s32 14.3 32 32l0 301.7 32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 320c0-17.7 14.3-32 32-32l128 0c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9L429.3 416l50.7 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-128 0c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9L402.7 352 352 352c-17.7 0-32-14.3-32-32zM416 32c12.1 0 23.2 6.8 28.6 17.7l64 128 16 32c7.9 15.8 1.5 35-14.3 42.9s-35 1.5-42.9-14.3L460.2 224l-88.4 0-7.2 14.3c-7.9 15.8-27.1 22.2-42.9 14.3s-22.2-27.1-14.3-42.9l16-32 64-128C392.8 38.8 403.9 32 416 32zM395.8 176l40.4 0L416 135.6 395.8 176z"
              /></svg>
            Ascending
          </label>
          <label>
            <input type="checkbox" />
            <svg
              class="icon-sort-az"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512"
            ><path
                d="M183.6 469.6C177.5 476.2 169 480 160 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L128 365.7 128 64c0-17.7 14.3-32 32-32s32 14.3 32 32l0 301.7 32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 64c0-17.7 14.3-32 32-32l128 0c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9L429.3 160l50.7 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-128 0c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9L402.7 96 352 96c-17.7 0-32-14.3-32-32zm96 192c12.1 0 23.2 6.8 28.6 17.7l64 128 16 32c7.9 15.8 1.5 35-14.3 42.9s-35 1.5-42.9-14.3L460.2 448l-88.4 0-7.2 14.3c-7.9 15.8-27.1 22.2-42.9 14.3s-22.2-27.1-14.3-42.9l16-32 64-128c5.4-10.8 16.5-17.7 28.6-17.7zM395.8 400l40.4 0L416 359.6 395.8 400z"
              /></svg>
            Descending
          </label>
        </div>
        <div class="sidebar-section">
          <h4 class="sidebar-section-heading">Sort by Category</h4>
          <label>
            <input type="checkbox" name="category" value="Survival Wilderness"/>
            Survival Wilderness
          </label>
          <label>
            <input type="checkbox" name="category" value="STEM"/>
            STEM
          </label>
          <label>
            <input type="checkbox" name="category" value="Knots and Lashing"/>
            Knots and Lashings
          </label>
          <label>
            <input type="checkbox" name="category" value="Teamwork and Leadership"/>
            Teamwork and Leadership
          </label>
        </div>
      </div>
      <div class="learner-browse-courses__courses-content">
        <div class="learner-browse-courses__courses-container">
          <!-- COURSE 1-->
          <div class="row">
            <div class="col-12">
              <div class="horizontal-displaying-courses-card d-flex">
                <div class="horizontal-displaying-courses-card-thumb">
                  <img src="/assets/up-bc.jpg" class="image" alt="Course IMG" />
                </div>
                <div class="horizontal-displaying-courses-card-content">
                  <div class="horizontal-displaying-courses-card-info">
                    <h2 class="title line-clamp">Investing In Stocks The
                      Complete Course! Investing In Stocks The Complete Course!</h2>
                    <div class="horizontal-displaying-courses-card-category">
                      <span class="category">Wilderness Survival</span>
                      <span class="category">Teamwork and Leadership</span>
                      <span class="category">Knots and Lashing</span>
                      <span class="category">STEM</span>
                    </div>
                    <div class="details">
                      <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                      <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                      <span><i class="mr-3 fa fa-heart"></i> 69</span>
                      <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                    </div>
                  </div>
                  <span class="horizontal-displaying-courses-card-price">
                    $114.00
                  </span>
                  <div class="horizontal-displaying-courses-card-action ml-3">
                    <button class="btn btn-outline-primary"><i class="ion-information-circled"></i> View</button>
                    <button class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="horizontal-displaying-courses-card d-flex">
                <div class="horizontal-displaying-courses-card-thumb">
                  <img src="/assets/up-bc.jpg" class="image" alt="Course IMG" />
                </div>
                <div class="horizontal-displaying-courses-card-content">
                  <div class="horizontal-displaying-courses-card-info">
                    <h2 class="title line-clamp">Investing In Stocks The
                                                 Complete Course! Investing In Stocks The Complete Course!</h2>
                    <div class="horizontal-displaying-courses-card-category">
                      <span class="category">Wilderness Survival</span>
                      <span class="category">Teamwork and Leadership</span>
                      <span class="category">Knots and Lashing</span>
                      <span class="category">STEM</span>
                    </div>
                    <div class="details">
                      <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                      <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                      <span><i class="mr-3 fa fa-heart"></i> 69</span>
                      <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                    </div>
                  </div>
                  <span class="horizontal-displaying-courses-card-price">
                    $114.00
                  </span>
                  <div class="horizontal-displaying-courses-card-action ml-3">
                    <button class="btn btn-outline-primary"><i class="ion-information-circled"></i> View</button>
                    <button class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="horizontal-displaying-courses-card d-flex">
                <div class="horizontal-displaying-courses-card-thumb">
                  <img src="/assets/up-bc.jpg" class="image" alt="Course IMG" />
                </div>
                <div class="horizontal-displaying-courses-card-content">
                  <div class="horizontal-displaying-courses-card-info">
                    <h2 class="title line-clamp">Investing In Stocks The
                                                 Complete Course! Investing In Stocks The Complete Course!</h2>
                    <div class="horizontal-displaying-courses-card-category">
                      <span class="category">Wilderness Survival</span>
                      <span class="category">Teamwork and Leadership</span>
                      <span class="category">Knots and Lashing</span>
                      <span class="category">STEM</span>
                    </div>
                    <div class="details">
                      <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                      <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                      <span><i class="mr-3 fa fa-heart"></i> 69</span>
                      <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                    </div>
                  </div>
                  <span class="horizontal-displaying-courses-card-price">
                    $114.00
                  </span>
                  <div class="horizontal-displaying-courses-card-action ml-3">
                    <button class="btn btn-outline-primary"><i class="ion-information-circled"></i> View</button>
                    <button class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="horizontal-displaying-courses-card d-flex">
                <div class="horizontal-displaying-courses-card-thumb">
                  <img src="/assets/up-bc.jpg" class="image" alt="Course IMG" />
                </div>
                <div class="horizontal-displaying-courses-card-content">
                  <div class="horizontal-displaying-courses-card-info">
                    <h2 class="title line-clamp">Investing In Stocks The
                                                 Complete Course! Investing In Stocks The Complete Course!</h2>
                    <div class="horizontal-displaying-courses-card-category">
                      <span class="category">Wilderness Survival</span>
                      <span class="category">Teamwork and Leadership</span>
                      <span class="category">Knots and Lashing</span>
                      <span class="category">STEM</span>
                    </div>
                    <div class="details">
                      <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                      <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                      <span><i class="mr-3 fa fa-heart"></i> 69</span>
                      <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                    </div>
                  </div>
                  <span class="horizontal-displaying-courses-card-price">
                    $114.00
                  </span>
                  <div class="horizontal-displaying-courses-card-action ml-3">
                    <button class="btn btn-outline-primary"><i class="ion-information-circled"></i> View</button>
                    <button class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="horizontal-displaying-courses-card d-flex">
                <div class="horizontal-displaying-courses-card-thumb">
                  <img src="/assets/up-bc.jpg" class="image" alt="Course IMG" />
                </div>
                <div class="horizontal-displaying-courses-card-content">
                  <div class="horizontal-displaying-courses-card-info">
                    <h2 class="title line-clamp">Investing In Stocks The
                                                 Complete Course! Investing In Stocks The Complete Course!</h2>
                    <div class="horizontal-displaying-courses-card-category">
                      <span class="category">Wilderness Survival</span>
                      <span class="category">Teamwork and Leadership</span>
                      <span class="category">Knots and Lashing</span>
                      <span class="category">STEM</span>
                    </div>
                    <div class="details">
                      <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                      <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                      <span><i class="mr-3 fa fa-heart"></i> 69</span>
                      <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                    </div>
                  </div>
                  <span class="horizontal-displaying-courses-card-price">
                    $114.00
                  </span>
                  <div class="horizontal-displaying-courses-card-action ml-3">
                    <button class="btn btn-outline-primary"><i class="ion-information-circled"></i> View</button>
                    <button class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const sidebarSections = document.querySelectorAll(".sidebar-section");

    sidebarSections.forEach(section => {
      const checkboxes = section.querySelectorAll('input[type="checkbox"]');

      checkboxes.forEach(checkbox => {
        checkbox.addEventListener("change", function() {
          if (this.checked) {
            checkboxes.forEach(cb => {
              if (cb !== this) cb.checked = false;
            });
          }
        });
      });
    });
  });

</script>