<main class="learner-view-wishlist bootstrap-v5">
  <div class="learner-view-wishlist__header">
    <div class="container">
      <h1 class="learner-view-wishlist__heading">My Learning</h1>
      <div class="learner-view-wishlist__navbar-container">
        <ul class="learner-view-wishlist__navbar">
          <li class="learner-view-wishlist__item">
            <a class="learner-view-wishlist__item-link" href="/learner/my-courses/purchased">Purchased</a>
          </li>

          <li class="learner-view-wishlist__item">
            <a class="learner-view-wishlist__item-link" href="/learner/my-courses/trial">On Trial</a>
          </li>

          <li class="learner-view-wishlist__item active">
            <a class="learner-view-wishlist__item-link">Wishlist</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="learner-view-wishlist__courses-container">
    <div class="container">
      <div class="learner-view-wishlist__courses-content">
        <div class="row">
          <div class="col-12">
            <div class="horizontal-displaying-courses-card d-flex">
              <div class="horizontal-displaying-courses-card-thumb">
                <a href="#">
                  <img src="/assets/up-bc.jpg" class="image" alt="Course IMG">
                </a>
              </div>
              <div class="horizontal-displaying-courses-card-content">
                <div class="horizontal-displaying-courses-card-info">
                  <h2 class="title">Investing In Stocks The Complete Course!</h2>
                  <span class="category">WILDERNESS SURVIVING</span>
                  <div class="details">
                    <span><i class="mr-3 fa fa-clock-o"></i> 6 hours</span>
                    <span><i class="mr-3 fa fa-signal"></i> Beginner</span>
                    <span><i class="mr-3 fa fa-heart"></i> 69</span>
                    <span><i class="mr-3 fa fa-user"></i> 265.7K</span>
                  </div>
                </div>
                <span class="horizontal-displaying-courses-card-price">
              $114.00
            </span>
                <div class="horizontal-displaying-courses-card-action ml-3">
                  <button class="btn btn-outline-primary"><i class="ion-information-circled"></i> View</button>
                  <button class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Cart</button>
                  <button class="btn btn-outline-danger deleteCourseButton"><i class="fa fa-trash"></i> Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pop-up-notification-dialog__modal" id="deleteConfirmationModal">
    <div class="pop-up-notification-dialog__modal-content">
      <div class="pop-up-notification-dialog__modal-header">
        <h2 class="pop-up-notification-dialog__modal-heading"><strong>Remove this course?</strong></h2>
      </div>
      <div class="pop-up-notification-dialog__modal-message">
        <p>This course will be removed from your wishlist. Do you confirm?</p>
      </div>
      <div class="pop-up-notification-dialog__modal-buttons">
        <button class="pop-up-notification-dialog__cancel-button" id="cancelConfirmButton">CANCEL</button>
        <button class="pop-up-notification-dialog__delete-button" id="deleteConfirmButton">REMOVE</button>
      </div>
    </div>
  </div>
  <!-- Hidden form -->
  <form method="POST" name="deleteCourseForm"></form>
</main>

<!-- MODAL SCRIPT -->
<!-- Handling the delete course in another script tag above -->
<script>
  const deleteButtons = document.querySelectorAll(".deleteCourseButton");
  const deleteCourseModal = document.getElementById("deleteConfirmationModal");
  const cancelConfirmButton = document.getElementById("cancelConfirmButton");
  const deleteConfirmButton = document.getElementById("deleteConfirmButton");

  deleteButtons.forEach((button) => {
    button.addEventListener("click", () => {
      deleteCourseModal.classList.add("active");
      deleteCourseModal.style.display = "block";
    });
  });

  deleteConfirmButton.addEventListener("click", () => {
    deleteCourseModal.classList.add("slideOut");
    setTimeout(() => {
      deleteCourseModal.classList.remove("active", "slideOut");
      deleteCourseModal.style.display = "none";
    }, 500);
  });

  cancelConfirmButton.addEventListener("click", () => {
    deleteCourseModal.classList.add("slideOut");
    setTimeout(() => {
      deleteCourseModal.classList.remove("active", "slideOut");
      deleteCourseModal.style.display = "none";
    }, 500);
  });

  window.addEventListener("click", (event) => {
    if (event.target === deleteCourseModal) {
      deleteCourseModal.classList.add("slideOut");
      setTimeout(() => {
        deleteCourseModal.classList.remove("active", "slideOut");
        deleteCourseModal.style.display = "none";
      }, 500);
    }
  });
</script>