* {
    color: #FFFFFF;
    background-color: #1C0A00;
    font-family: Poppins, sans-serif;
}


body {
    padding: 2rem 25rem 2rem 25rem;
    display: flex;
    text-align: justify;
    text-justify: inter-word;
}

h3 {
    margin: 2rem;
}

p, li {
    opacity: 80%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*smartphone*/
@media (max-width: 767px) {
    body {
        padding: 0;
    }

}
